<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>switchViewsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F94681751E78D32A00F0E40B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F946818E1E78D32A00F0E40B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F94681991E78D32A00F0E40B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
